@import "tailwindcss";

@keyframes gradientUpDown {
  0%, 100% { background-color: red; }
  50% { background-color: rgb(58, 0, 128); }
  100% { background-color: blue; }
}

.animate-gradient-up-down {
  background-size: 100% 200%;
  animation: gradientUpDown 2s ease-in-out infinite;
}